  /*//////////////////////////////////////////////////////////////////
[  PROFILE PAGE ] */
.profile{
    width:100%;
    margin: 0 auto;
}

.profileContainer{
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #4b4b4b;
    /*margin-top: -70px;
    background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
    background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
    background: linear-gradient(-135deg, #c850c0, #4158d0);*/
}

.profileWrap {
    width: 414px;
    height: 736px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
  
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 177px 130px 33px 95px;    
  }
/*------------------------------------------------------------------
[  PROFILE CONTENT ]*/


/*//////////////////////////////////////////////////////////////////
[ RESPONSIVE ] */
@media(max-width:640px){
    .profileWrap{
        padding: 100px 70px 33px 70px;
    }
}

